<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Blog Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel = "stylesheet">

    <style>
        /* HTML: <div class="loader"></div> */
.load {
    
  width: 100px;
  height: 100px;
  margin: 110px auto 0;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
  
}
@keyframes l1 {to{transform: rotate(.5turn)}}
    </style>


</head>
<body class="flex flex-col min-h-scrren bg-gray-100 font-sans antialised">
    <!--Nav Bar-->
    <nav class="bg-red-600 p-4 text-white flex justify-between">

        <div>
            <h1 class="text-3xl font-bold"> AI Youtube Summary </h1>
        </div>

        <div>
            <a href="#" class="text-white hover:underline">Welcome {{user.username}}</a>
            <a href="logout" class="text-white hover:underline">Logout</a>
        </div>


    </nav>

<br>
<br>

    <!--Main-->
    <div class="flex-grow container mx-auto mt-10 px-4 sm:px0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 flex flex-col">
            <!--Introduction Section -->
            <div class = "text-center" >
              <h2 class="text-2xl font-semibold mb-4">Welcome to the AI Youtube Summary Generator</h2>  
          
            <p class="text-gray-700">
                 Generate high quality Youtube summaries using Artificial Inteligence. 
                 Simply enter the link to the Youtube video below and let AI generate the content for you!
            </p>
         </div>
         <br>

         <!--Youtube Link Sections-->
        <div>
            <h2 class="text-xl mb-4 font-semibold" >
                Enter Youtube Video Link:
            </h2>
           
            <div class="flex space-x-4">
                <input id="youtubeLink" type=""url placeholder="Paste Youtube Link..." class="flex-grow p-2 border border-blue-500 rounded-l-md">
                <button id="generatesummaryButton" class="bg-red-600 text-white px-4 py-2 rounded-r-md hover:bg-blue-700 transition-colors">Generate</button>
            </div>

        </div>

        <!--Section for Loading Circle-->
        <div style="display: none;" id="loading-circle" class="load">
            
        </div>



        <!--Generated Summary Display Section-->
        <section class="mt-10 flex-grow">
            <h2 class="text-xl mb-4 font-semibold"> Generated Youtube Summary </h2>
            <div id="summaryContent" class="mt-2 text-gray-700 space-y-4">
                
                
            </div>
        </section>


        </div>
    </div>

    <footer class="text-center p-4 text-black mt-6 ">
        Powered by <a href="https://github.com/KevinCauchi"> Kevin Cauchi</a> 
    </footer>


    <script>
    document.getElementById('generatesummaryButton').addEventListener('click', async () => {
            

        const youtubeLink = document.getElementById('youtubeLink').value;
        const summaryContent = document.getElementById('summaryContent');
        
        if(youtubeLink) {
            document.getElementById('loading-circle').style.display = 'block';
            
            summaryContent.innerHTML = ''; // Clear previous content

            const endpointUrl = '/generate-blog';
            
            try {
                const response = await fetch(endpointUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ link: youtubeLink })
                });

                const data = await response.json();

                summaryContent.innerHTML = data.content;

            } catch (error) {
                console.error("Error occurred:", error);
                alert("Something went wrong. Please try again later.");
                
            }
            document.getElementById('loading-circle').style.display = 'none';
        } else {
            alert("Please enter a YouTube link.");
        }
    });
</script>


</body>
</html>